# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. List popular languages for Data Science
2. List the commonly used library in Data Science
3. Three development environment open sources tools used in Data Science
4. Write simple arthmatic expression
5. Make a table in Markdown

Some of the popular languages that Data Scientists use are:

In [2]:
for i, language in enumerate(["python", "R-prog", "SQL"], start=1):
    print(f"{i}. {language}")

1. python
2. R-prog
3. SQL

Some of the commonly used libraries used by Data Scientists include:

In [5]:
for i, library in enumerate(["numpy", "MatPlotlib", "Pandas"], start =1):
    print(f"{i}. {library}")

1. numpy
2. MatPlotlib
3. Pandas

Three development environment open source tools used in data science:

| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks        |
| R-Studio            |
| PyCharm      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5 #Thiis a simple arithmetic expression to multiply 
#then add integers

17

In [8]:
200/60.0 #This will convert 200 minutes to hours by dividing by 60.

3.3333333333333335

## Author
Name: Mukesh Mehata